:root{
  --primary: #e1edbd;
  --secondary: #86c9ff;
  --dark:#131a26;
  --light: #eee;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body{
  background-color: var(--light);
}

.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.calculator{
  width: 100%;
  max-width: 400px;
  background-color: #8cc1dc;
  border-radius: 10px;
  overflow:hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 2);
  
}

.display{
padding: 16px;
margin: 10px;
text-align: right;
background-color: var(--dark);
color: var(--light);;
font-size:24px;
font-weight:300;
}

.display span{
  font-size: 14px;
  color:#888;

}

button{
  appearance: none;
  border: 20px;
  margin: 2px;
  /* border: solid; */
  padding: 20px;
  outline: none;
  color:#0a0303;
  font-size: 20px;
  padding: 16px;
  cursor:pointer;
  transition: 0.4s;

}

button:hover{
  opacity: 0.5;
color: rgb(0, 255, 42);
}

.operators{
  display:flex;
}

.operators button{
  flex: 1 1 10%;
  background-color:aqua;
  /* background-color:#d1d27e; */
  font-weight: 700;
}

.digits{
  display: flex;
  flex-wrap: wrap;
}

.digits button{
  flex: 1 1 30.333%;
  max-width:33.333%;
  /* background-color: var(--dark) */
  background-color:#eeeee4;
  font-weight: 700;
}

#clear{
  background-color: rgb(239, 21, 21);
}

#del{
  background-color: rgb(239, 21, 21);
}